<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <form method="post" action="/login">
        <label for="password">Почта</label>
        <input name="email" type="email" required>
        <label for="password">Пароль</label>
        <input name="password" type="password" required>
        <button type="submit">Войти</button>
    </form>
</body>

</html>